# Frontend
Frontend/node_modules/
Frontend/dist/
Frontend/tsconfig.tsbuildinfo

# Backend
Backend/venv/
Backend/__pycache__/

# Environment variables
Backend/.env

# Python
__pycache__/
*.pyc

# VS Code
.vscode/

# Environment variables
Backend/.env